 /*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/
@font-face {font-family: "Voyage-Regular"; 
src: url('fonts/Voyage-Regular.eot'), url('fonts/Voyage-Regular.woff'), url('fonts/Voyage-Regular.woff2');
}

body {
  font-family: 'Open Sans', arial, sans-serif;
}


.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

}

.banner {
  margin: 0 auto;
  padding-top: 165px;
}

h1 {
  color: #494a4f;
  font-family: 'Voyage-Regular', serif;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-size: 5em;
  font-style: bold;
}


h2 {
  font-size: 15px;
  z-index: 100;
}

.sand {
  padding-top: 50px;
  position: relative;
  background: url(https://media.giphy.com/media/EXHXTLY7ntczK/giphy.gif);
  opacity: 0.9;
  height: 480px;  
}


.sand-title {
  padding-top: 210px;
  position: relative;
  z-index: 300;
  color: white;
  font-size: 2em;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px; 
  height: 480px; 
}


.carousel-inner{
  width: 100%;
}
.carousel-caption {
    z-index: 0;
    padding: 0 5px 0 5px;
    background-color: #525D72;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 2.5rem;

}
.innerborder{
  /*margin: 3px;*/
  border: 3px solid white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.outerborder{
  width: 600px;
  height: 300px;
  padding: 3px;
  border: 1px double #fff;
  margin: 0 auto;

}
.boxtext{
  text-align: center;
  color:white;
  font-family: "Poiret One", Georgia, serif;
  font-size: 2.8rem;
  padding:160px;
}



/******** Art deco boxtext *********/

.triple-deco-container {
  display: grid;
  grid-template-columns: 
    [wide-start]  5px 
    [mid-start]   5px 
    [tall-start]  1fr 
    [tall-end]    5px 
    [mid-end]     5px 
    [wide-end] 
  ;
  grid-template-rows: 
    [tall-start]  5px 
    [mid-start]   5px 
    [wide-start]  1fr 
    [wide-end]    5px 
    [mid-end]     5px 
    [tall-end] 
  ;
}

.triple-deco-container .triple-deco-content {
  grid-column: tall-start / tall-end;
  grid-row: wide-start / wide-end;
  text-align:center;
}

.triple-deco-container .triple-deco-tall {
  grid-area: tall;
  border: 2px solid white;
}

.triple-deco-container .triple-deco-mid {
  grid-area: mid;
  border: 1px  dashed white;
}

.triple-deco-container .triple-deco-wide {
  grid-area: wide;
  border: 2px solid white;
}


.carousel .item {
  z-index: auto;
}

.carousel-indicators {
  bottom: -40px;

}
.carousel-indicators li {
  border-color: #aaa7ae;
}

.carousel-indicators li.active {
  background-color: #aaa7ae;
}


.marketing .row {
	text-align: center;	
}

.row {
  padding-left: 25px;
}

.navbar {
	margin-bottom: 0; 
}

.divider {
  margin: 35px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

h2.featurette-heading {
  text-align: left;
  font-size: 35px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 21px;
}

.col-md-7 {
  padding-left: 60px;
}

.companies h3 {
	margin-bottom: 40px;
}

.item img {
  margin: 0 auto;
  max-height: 50vw;
  height: 100px;
}

.companies img {
	margin: 50px 0;
}

.portrait img {
  width: 100%;
  margin-right: 5px;
}

p.lead {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 29pt;
}

.qr img {
  width: 70%;
}

strong {
  color: #f32e34;
  
}

a {
  text-decoration: none;
}

footer {
	padding: 40px;
}



@media only screen (min-width: 769px)and (max-width: 991px) {

  h1 {
    font-size: 2em;
  }

 .sand {
  height: 230px;
 }

  .banner {
    padding-top: 200px;
  }
  .portrait img {
    width: 80%;
  }
  .col-md-7 {
    padding-top: -20px;
    padding-right: 80px;
  }
 
}

@media only screen and (min-width: 426px)  and (max-width: 768px) {
  .sand {
    
  }
  .banner {
    padding-top: 320px;
  }
}

@media only screen and (max-width: 425px) {
  .sand {
    height: 200px; 
    padding: none;
  }
  .banner {
    padding-top: 700px;
  }
  
}



