/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/

.banner  {
  margin: 0 auto;
  margin-top: 50px;
  
	 width: 80%;
}

.banner img {
  width: 100%;
}
.carousel-inner{
  height: 420px;
}
.carousel-inner .carousel-caption {

    padding: 5px;
    margin-bottom: 10px;
    background-color: #525D72;
    opacity: 0.7;
    border-radius: 5px;
}
.carousel .item {
  height: 500px;
}

/*.item img {
    position: absolute;
    top: 0;
    left: 350px;
    width: 50%;
}
*/
.marketing .row {
	text-align: center;	
}

.navbar {
	margin-bottom: 0; /* removes default excess margin */
}

.divider {
  margin: 80px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.companies h3 {
	margin-bottom: 40px;
}

.item img {
  width: 100%;
}

.companies img {
	margin: 50px 0;
}

.portrait img {
  width: 80%;
}

p.lead {
  text-align: justify;
  font-size: 12px;
}

.qr img {
  width: 70%;
}

strong {
  color: #f32e34;
}

a {
  text-decoration: none;
}

footer {
	background: url('../images/grey-texture.jpg');
	padding: 40px;
}
