/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/

/*
body {
  background: url('../images/Qrschema.jpg');
  font-family: 'Open Sans', arial, sans-serif;
    
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway');

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;

}
.banner  {
  margin: 0 auto;
  padding-top: 150px;
}

h1 {
  color: #494a4f;
  font-family: 'Libre Baskerville', cursive;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  font-style: bold;
}


h2 {
  font-size: 15px;
}

.carousel-inner{
  /*height: 450px;*/
}
.carousel-caption {

    padding: 5px;
    background-color: #525D72;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 2.5rem;
}
.carousel .item {
  /*height: 500px;*/
}

.carousel-indicators {
  bottom: -40px;

}
.carousel-indicators li {
  border-color: #aaa7ae;
}

.carousel-indicators li.active {
  background-color: #aaa7ae;
}


.marketing .row {
	text-align: center;	
}

.row {
  padding-left: 25px;
}

.navbar {
	margin-bottom: 0; 
}

.divider {
  margin: 35px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

h2.featurette-heading {
  text-align: left;
  font-size: 35px;
  font-weight: 400;
}

.col-md-7 {
  padding-left: 60px;
}

.companies h3 {
	margin-bottom: 40px;
}

.item img {
  margin: 0 auto;
  max-height: 40vw;
}

.companies img {
	margin: 50px 0;
}

.portrait img {
  width: 50%;
  margin-right: 5px;
}

p.lead {
  text-align: justify;
  font-size: 25px;
}

.qr img {
  width: 70%;
}

strong {
  color: #f32e34;
}

a {
  text-decoration: none;
}

footer {
	background: url('../images/grey-texture.jpg');
	padding: 40px;
}

@media only screen and (max-width: 480px){
  .item img {
    max-height: 45vw;
  }
  .banner {
    width: 100%;
    margin-top: 0;
  }
  .col-md-7 {
    margin: -40px;
  }
  .portrait {
    padding-top: 35px;
  }

}

@media only screen and (max-width: 991px) {
  .portrait img {
    width: 30%;
  }
  .col-md-7 {
    padding-top: -20px;
    padding-right: 80px;
  }

}
